<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.android.trabajo.ctexpress">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Vista.Login.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Vista.Login.RecuperarClave"
            android:parentActivityName=".Vista.Login.Login"></activity>
        <activity android:name=".Vista.Main.MainTecnico"
            android:parentActivityName=".Vista.Login.Login"></activity>
        <activity android:name=".Vista.Main.MainAdministrativo"
            android:parentActivityName=".Vista.Login.Login"></activity>
        <activity android:name=".Vista.Main.MainAdmin"
            android:parentActivityName=".Vista.Login.Login"></activity>
        <activity android:name=".Vista.Main.MainDocente"
            android:parentActivityName=".Vista.Login.Login"></activity>
        <activity android:name=".Vista.Usuarios.GenerarUsuario"
            android:parentActivityName=".Vista.Main.MainAdmin"></activity>
        <activity android:name=".Vista.Tickets.GenerarTicket"
            android:parentActivityName=".Vista.Main.MainDocente"></activity>
        <activity android:name=".Vista.Usuarios.GestionUsuarios"
            android:parentActivityName=".Vista.Main.MainAdmin"></activity>
        <activity android:name=".Vista.Tickets.Solucion"
            android:parentActivityName=".Vista.Tickets.GenerarTicket"></activity>
        <activity android:name=".Vista.Tickets.BuscarTicket"
            android:parentActivityName=".Vista.Main.MainAdministrativo"></activity>
        <activity android:name=".Vista.Reportes.Estadisticas"
            android:parentActivityName=".Vista.Main.MainAdministrativo"></activity>
        <!--<activity android:name=".Vista.Tickets.VerListaTickets"
            android:parentActivityName=".Vista.Main.MainTecnico"></activity>-->
        <activity android:name=".Vista.Tickets.VerListaTickets"
            android:parentActivityName=".Vista.Login.Login"></activity>
    </application>

</manifest>